TestApp.Manager/Service References/BasketServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TestApp.Contract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TestApp.Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Item_dc">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item_dc" nillable="true" type="tns:Item_dc" />
  <xs:complexType name="ArrayOfItem_dc">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item_dc" nillable="true" type="tns:Item_dc" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem_dc" nillable="true" type="tns:ArrayOfItem_dc" />
</xs:schema>